<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Distribuidos 2018 - Trabajo Practico Web Services">
    <meta name="author" content="Fiorentino - Violi">

    <title>Distribuidos 2018</title>

    <script src="../assets/js/Angular.js"></script>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/Distribuidos.css">
    
</head>  

<!-- Barra de Navegacion -->
<nav class="navbar navbar-expand-xl bg-dark navbar-dark">
<ul class="navbar-nav">
    <li class="nav-item active">
      <a href="./Bienvenido.html">Bienvenido</a>
      <a href="./BuscarPronostico.html">Buscar Pronostico</a>  
    </li>
  </ul>
</nav>
<!-- Fin Barra de Navegacion -->

<body>

<section>
  <div class="container">
    <div class="panel-group">
      <div class="panel panel-primary">
          <div class="panel-body">

                <div ng-app="OpenWatherMap.App" ng-controller="OpenWatherMap.Ctrl" ng-init="showImg = false">

                  <h3 class="h3">Pronostico para los proximos cinco d&iacute;as</h3>
                  <h4 class="h4">{{ ciudad }}</h4> <br>
         
                <div class="tab-content col-sm-12">
                  <div class="row">

                    <div class="col-sm-1"></div>

                    <div class="col-sm-1">
                      <h6 class="h6" style="font-size: 90%">{{ fiveDays[0].getDay() }}</h6>
                      <img ng-show="showImg" ng-src="{{ fiveDays[0].getImg() }}" height="80" width="80"> <br>
                      <h6 class="h6" style="font-size: 80%"><strong>Min: </strong>{{ fiveDays[0].getMin() }}</h6>
                      <h6 class="h6" style="font-size: 80%"><strong>Max: </strong>{{ fiveDays[0].getMax() }}</h6> 
                    </div>

                    <div class="col-sm-1"></div>

                    <div class="col-sm-1">
                      <h6 class="h6" style="font-size: 90%">{{ fiveDays[1].getDay() }}</h6>
                      <img ng-show="showImg" ng-src="{{ fiveDays[1].getImg() }}" height="80" width="80"> <br>
                      <h6 class="h6" style="font-size: 80%"><strong>Min: </strong>{{ fiveDays[1].getMin() }}</h6>
                      <h6 class="h6" style="font-size: 80%"><strong>Max: </strong>{{ fiveDays[1].getMax() }}</h6> 
                    </div>

                    <div class="col-sm-1"></div>

                    <div class="col-sm-1">
                      <h6 class="h6" style="font-size: 90%">{{ fiveDays[2].getDay() }}</h6>
                      <img ng-show="showImg" ng-src="{{ fiveDays[2].getImg() }}" height="80" width="80"> <br>
                      <h6 class="h6" style="font-size: 80%"><strong>Min: </strong>{{ fiveDays[2].getMin() }}</h6>
                      <h6 class="h6" style="font-size: 80%"><strong>Max: </strong>{{ fiveDays[2].getMax() }}</h6> 
                    </div>

                    <div class="col-sm-1"></div>

                    <div class="col-sm-1">
                      <h6 class="h6" style="font-size: 90%">{{ fiveDays[3].getDay() }}</h6>
                      <img ng-show="showImg" ng-src="{{ fiveDays[3].getImg() }}" height="80" width="80"> <br>
                      <h6 class="h6" style="font-size: 80%"><strong>Min: </strong>{{ fiveDays[3].getMin() }}</h6>
                      <h6 class="h6" style="font-size: 80%"><strong>Max: </strong>{{ fiveDays[3].getMax() }}</h6> 
                    </div>

                    <div class="col-sm-1"></div>

                    <div class="col-sm-1">
                      <h6 class="h6" style="font-size: 90%">{{ fiveDays[4].getDay() }}</h6>
                      <img ng-show="showImg" ng-src="{{ fiveDays[4].getImg() }}" height="80" width="80"> <br>
                      <h6 class="h6" style="font-size: 80%"><strong>Min: </strong>{{ fiveDays[4].getMin() }}</h6>
                      <h6 class="h6" style="font-size: 80%"><strong>Max: </strong>{{ fiveDays[4].getMax() }}</h6> 
                    </div>

                  </div>
                </div>

                </div> <br>
    
              
            
          </div>
        </div>
      </div>
    </div>      
  </section>
    
<!-- JQuery -->
  
<script type="text/javascript" src="../assets/js/jquery.min.js"></script> 
<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>

<!-- Angular - Web Services -->

<script src="../assets/js/Funciones.js"></script>
<script src="../assets/js/Pronostico5Dias.js"></script>

<!-- Footer -->
  <section id="footer">
    <div class="container">
      
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p>Desarrollo de Software en Sistemas Distribuidos 2018 - Universidad Nacional de Lan&uacute;s</p>
          <p class="h6">Fiorentino, Kevin / Violi, Pablo</p>
        </div>
      </div>  
      
    </div>
  </section>
<!-- ./Footer -->
  
</body>

</html>