<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Distribuidos 2018 - Trabajo Practico Web Services">
    <meta name="author" content="Fiorentino - Violi">

    <title>Distribuidos 2018</title>

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/Distribuidos.css">
    
</head>  

<!-- Barra de Navegacion -->
<nav class="navbar navbar-expand-xl bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active"><a href="./Bienvenido.html">Bienvenido</a></li>
    <li class="nav-item"><a href="./BuscarPronostico.html">Buscar Pronostico</a></li>
  </ul>
</nav>
<!-- Fin Barra de Navegacion -->

<body>

<section>
  <div class="container">
    <div class="panel-group">
      <div class="panel panel-primary">
          <div class="panel-body">

            <div class="tab-content col-sm-12">
              <div class="row">
                
                <h4 class="h4">Crear una cuenta en OpenWeatherMap</h4> <br>

                <form action="" method="POST">
              
                  <div class="form-group">
                    <label for="user">Nombre Usuario:</label>
                    <input type="text" class="form-control" name="user" placeholder="Usuario">
                  </div>
                  <div class="form-group">
                    <label for="pass">Contrase&ntilde;a:</label>
                    <input type="password" class="form-control" name="pass" placeholder="Constrase&ntilde;a">
                  </div>
                  <button type="submit" class="btn btn-primary">Crear Cuenta</button>
                  
                </form>

      
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>      
  </section>
    
<!-- JQuery -->
  
<script type="text/javascript" src="../assets/js/jquery.min.js"></script> 
<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>

<!-- Footer -->
  <section id="footer">
    <div class="container">
      
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p>Desarrollo de Software en Sistemas Distribuidos 2018 - Universidad Nacional de Lan&uacute;s</p>
          <p class="h6">Fiorentino, Kevin / Violi, Pablo</p>
        </div>
      </div>  
      
    </div>
  </section>
<!-- ./Footer -->
  
</body>

</html>